    <div class='panel panel-info'>
        <div class='panel-heading'>
            <h2 class='panel-title'>Edit {{currentOption.name}}</h2>
        </div>
        <div class='panel-body'>
            <form name='editUserForm' ng-submit='editUserForm.$valid && editOne(toEdit)' novalidate>
                <div class='form-group'>
                    <label class="control-label col-sm-12">First Name</label>
                    <input type="text" ng-model="toEdit.first_name" required />
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-12">Last Name</label>
                    <input type="text" ng-model="toEdit.last_name" required />
                </div>
                <div class="form-group">
                    <label class='control-label col-sm-12'>Address</label>
                    <input type='email' ng-model='toEdit.address.address_1'/>
                </div>
                <div class="form-group">
                    <input type='email' ng-model='toEdit.address.address_2'/>
                </div>
                <div class="form-group">
                    <label class='control-label col-sm-12'>City</label>
                    <input type='email' ng-model='toEdit.address.city'/>
                </div>
                <div class="form-group">
                    <label class='control-label col-sm-12'>State</label>
                    <input type='email' ng-model='toEdit.address.state'/>
                </div>
                <div class="form-group">
                    <label class='control-label col-sm-12'>Zip Code</label>
                    <input type='email' ng-model='toEdit.zip'/>
                </div>
                <div class="form-group">
                    <label class='control-label col-sm-12'>Phone Number</label>
                    <input type='email' ng-model='toEdit.phone'/>
                </div>
                <div class="form-group">
                    <label class='control-label col-sm-12'>Email Address</label>
                    <input type='email' ng-model='toEdit.email' required />
                </div>
                <div class="form-group">
                    <label class='control-label col-sm-12'>Password</label>
                    <input type='password' name="password" ng-model='toEdit.password' required />
                </div>
                    <!--<label ng-show='editUserForm.password.$dirty'>Confirm New Password</label><br>
                    <input ng-show='editUserForm.password.$dirty' type='password' name="confirmPassword" ng-model='toEdit.password' required password-confirm match-target="toEdit.password"></input></br> -->
                <div class="form-group" ng-if="isAdmin">
                    <label class="control-label col-sm-12">Admin Status</label>
                    <input type='checkbox' ng-model='toEdit.admin'/>
                </div>
                <button type='submit' class='btn-success'>Save Changes</button>
               <!--<span class="help-block" ng-show="editUserForm.confirmPassword.$error.match">Passwords do not match.</span> -->
            </form>
            <button class="btn-danger" ng-click="deleteOne(toEdit)">Delete User</button>
        </div>
    </div>