<section id="deleteUser" ng-controller="DeleteUserCtrl">
<div class='panel panel-info'>
    <div class='panel-heading'>
        <h2 class='panel-title'>Delete User</h2>
    </div>
    <div class='panel-body'>
        <form name='deleteUserForm' ng-submit='deleteUser(userToDelete)' class='form-horizontal' novalidate>{{userToDelete}}
            <div class='form-group'>
                <label>First Name</label><br>
                <input type="text" ng-model="userToDelete.first_name" required></input><br>
                <label>Last Name</label><br>
                <input type="text" ng-model="userToDelete.last_name" required></input><br>
                <label>Email Address</label><br>
                <input type='email' ng-model='userToDelete.email' required></input><br>
            </div>
            <button type='submit' class='btn-success'>DeleteUser</button>
        </form>
    </div>
</div>
<div ui-view></div>   
</section>