<section id="editVacation">
    <div class='panel panel-info'>
        <div class='panel-heading'>
            <h2 class='panel-title'>Edit {{currentOption.name}}</h2>
        </div>
        <div class='panel-body'>
            <form name='editVacationForm' ng-submit='editVacationForm.$valid && editOne(toEdit)'>
                <div class='form-group'>
                    <label class="control-label col-sm-12">Name</label>
                    <input type="text" ng-model="toEdit.name" required />
                </div>
                <div class='form-group'>
                    <label class="control-label col-sm-12">Description</label>
                    <input type="text" ng-model="toEdit.description" required />
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-12">Price</label>
                    <input type='number' ng-model='toEdit.price' required />
                </div>
                <div class='form-group'>
                    <label class="control-label col-sm-12">Region</label>
                    <input type='text' name="region" ng-model='toEdit.region' required />
                </div>
                <div class='form-group'>
                    <label class="control-label col-sm-12">Categories</label>
                    <input type='text' name="category" ng-model='toEdit.category' required />
                </div>
                <div class='form-group'>
                    <label class="control-label col-sm-12">ImageUrl</label>
                    <input type='text' name="imageUrl" ng-model='toEdit.imageUrl' />
                </div>
                <button type='submit' class='btn-success'>Save Changes</button>
            </form>
             <button class="btn-danger" ng-click="deleteOne(toEdit)">Delete</button>
        </div>
    </div>
</section>