<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref-active="active" ui-sref="mycart"><i class="glyphicon glyphicon-shopping-cart"></i></a></li>
            <li ng-repeat="item in rightItems">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
    </div>
</nav>