<div class='panel panel-info'>
	<pre style="text-align: left;">{{newVacation | json}}</pre>
	<div class='panel-heading'>
		<h3 class="panel-title">Add a Vacation</h3>
	</div>
	<div class="panel-body">
	<form name="addVacation" class="form-horizontal" ng-submit="addVacation && submitVacation(newVacation)">
		<div class="form-group">
			<label class='col-sm-4 control-label'>Vacation:</label>
			<div class="col-sm-8">
			    <input type="text" required ng-model="newVacation.name" />
			</div>
		</div>
		<div class='form-group'>
			<label class='col-sm-4 control-label'>Description:</label>
			<div class="col-sm-8">
			    <input type="text" required ng-model="newVacation.description" />
			</div>
		</div>
		<div class='form-group'>
			<label class='col-sm-4 control-label'>Price:</label>
			<div class="col-sm-8">
			    <input type="text" required ng-model="newVacation.price" />
			</div>
		</div>
		<div class='form-group'>
			<label class='col-sm-4 control-label'>Region:</label>
			<div class="col-sm-8">
			    <input type="text" ng-model="newVacation.region" />
			</div>
		</div>
		<div class='form-group'>
			<label class='col-sm-4 control-label'>Image URL:</label>
			<div class="col-sm-8">
			    <input type="text" ng-model="newVacation.imageUrl" />
			</div>
		</div>
		<div class='form-group'>
			<label class='col-sm-4 control-label'>Categories:</label>
			<div class="col-sm-8">
               <select>
                   <option ng-repeat="category in categories">
                   {{ category.name }}
                   </option>
               </select>
	           <!-- <<input type="text" required ng-model="newVacation.category" /> -->
			</div>
		</div>
		
		<div class="text-center">
		    <button type='submit' class='btn-success'>Submit</button>
		</div>
	</form>
	</div>
</div>