vacation {
	border: 1px solid black;
	display: block;
	margin-left: 6%;
	margin-bottom: 15px;
	background-repeat: no-repeat;
	box-shadow: 5px 5px 5px #888888;

	// .vacation-img {
		width: 100%;
		margin-left: 5%;
		height: 30vh;
	// }

	p {
		margin-top: 10px;
		height: 40px;
		overflow: auto;
		font-size: 14px;
	}

	.btn {
		margin-bottom: 10px;
	}

	h2 {
		font-size: 1.2em;
		padding: 2px;
		color: #D9C885;
		display: inline;
		margin-top: 5px;
		margin-right: 10px;
		margin-left: 10px;
		font-weight: bold;
	}

	div{
		background-color: rgba(0, 0, 0, 0.70);
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%
	}
	
	.left{
		float: left;
	}
	.right{
		float: right;
	}

}

vacation:hover > div {
	background-color: rgba(0, 0, 0, 0.50);
}


vacation:hover > h2	{
	font-size: 1em;	
}

vacation:hover {
	cursor: pointer;
	cursor: hand;
}