widget {
	background-color: #E4FFEA;
	border: 1px solid black;
	border-radius: 5px;
	display: block;
	margin-left: 6%;

	.vacation-img {
		width: 90%;
		margin-left: 5%;
	}

	p {
		margin-top: 10px;
		font-size: 18px;
	}
}