<section id="checkout">
<h1 class="text-center">Checkout</h1>
<div>
	<div class="col-lg-6">
	<div class='panel panel-default text-center' ng-show="userStatus.isLoggedIn">
	    <div class='panel-heading'>
	        <h2 class='panel-title text-center'>Billing Details</h2>
	    </div>
	    <div class='panel-body'>
	        <form name='checkoutForm' class='form-horizontal' novalidate>
	            <div class='form-group'>
	                <label class='col-sm-4 control-label'>First Name:</label>
	                <div class="col-sm-8">
	                    <input type="text" ng-model="user.first_name" required />
	                </div>
	            </div>
	            <div class='form-group'>
	                <label class='col-sm-4 control-label'>Last Name:</label>
	                <div class="col-sm-8">
	                    <input type="text" ng-model="user.last_name" required />
	                </div>
	            </div>
	            <div class='form-group'>
	                <label class='col-sm-4 control-label'>Address:</label>
	                <div class="col-sm-8">
	                    <input type='text' ng-model='user.address.address_1' required /><br><br>
	                    <input type='text' ng-model='user.address.address_2' />
	                </div>
	            </div>
	            <div class='form-group'>
	                <label class='col-sm-4 control-label'>City:</label>
	                <div class="col-sm-8">
	                    <input type='text' ng-model='user.address.city' required />
	                </div>
	            </div>
	            <div class='form-group'>
	                <label class='col-sm-4 control-label'>State:</label>
	                <div class="col-sm-8">
	                    <state-dropdown></state-dropdown>
	                </div>
	            </div>
	            <div class='form-group'>
	                <label class='col-sm-4 control-label'>Zip Code:</label>
	                <div class="col-sm-8">
	                    <input type='text' ng-model='user.address.zip' required />
	                </div>
	            </div>
	        </form>
	            <div class='form-group'>
	            <payment></payment>
	        	</div>
	    </div>
	</div>

	<div class='panel panel-default text-center' ng-show='!userStatus.isLoggedIn'>
		<div class='panel-heading'>
			<h2 class='panel-title'>Please Sign up to Check Out</h2>
		</div>
		<div class='panel-body'>
			<button type='submit' class='btn btn-success' ui-sref='signup' ng-show="!userStatus.isLoggedIn">SignUp</button>
		</div>
	</div>
</div>
	<div ng-controller="CartCtrl" class='col-lg-6'>
	    <div class="panel panel-default text-center">
	        <!-- Default panel contents -->
	        <div class="panel-heading text-center">
	        	<h2 class='panel-title text-center'>Order Summary</h2>
	        </div>
	        <!-- Table -->
	        <table class="table">
	                <tbody>
	                    <tr ng-repeat="item in populatedItems">
	                        <td>{{ item.item.name }}</td>
	                        <td>{{ item.item.price | currency }}</td>
	                    </tr>
	                    <tr>
	                    	<td>Promo Code</td>
	                    	<td><input type="text" ng-model="promo"/><button class="btn btn-primary" ng-click="applyPromo(promo)">Apply</button><p ng-show="{{invalidCode}}">Invalid Code!</p></td>
	                    </tr>
	                    <tr>
	                    	<td>Total Price:</td>
	                    	<td>{{ total | currency }}</td>
	                    	<td/>
	                    </tr>
	                </tbody>
	        </table>
	        <div>
	            <button class="btn btn-warning" ui-sref="cart">Edit Cart</button>
	            <br>
	            <br>
			</div>
			<div></div>
	    </div>
	</div>
</div>
</section>