<section id="home">
	<div class="jumbotron">
			<ul rn-carousel rn-carousel-auto-slide="5" class="image">
				<li ng-repeat="image in vacImages">
					<div class="layer"><img class="jumbo" ng-src="{{image}}"></div>
					<!-- need to place text inside of this carousel -->
				</li>
			</ul>
	</div>
	<vacation class="col-xs-12 col-sm-5 col-md-5 col-lg-3" ng-repeat="vacation in homeView.vacations" style="background: Url({{vacation.imageUrl}}); background-size: cover;" ng-click="showCurrentVacation(vacation)"></vacation>
</section>
