<section id="about">
    
	<h2 class="text-center">Stackations unLTD</h2>
    <div class="panel">
    	Take a wonderful stackation with our services! From your local resort, to the furthest reaches of space, to the endless wonders of your favorite (not)fiction novel! Our experts have found the best fully stacked vacation spot for your enjoyment and pleasure. Gathering the mean of your resources, you can meet wild mongooses, ride an express train through the English Channel, view the weird angular forms of the Egyptian pyramids, or explore the various nodes of the old Silk Road.
    </div>

    <!-- <div class="text-center">
	    <ul style="display: inline; list-style-type: none;">
	    	<li ng-repeat="maker in makers">{{maker}}</li>
	    </ul>
    </div> -->

    <div class="panel">
        This website--the very one at which you currently gaze--was created by a basic scaffolding concocted at Fullstack Academy. If you want to know more about how this scaffolding works, please message Joe about it!
    </div>
    <img style="max-width: 600px; max-height: 600px; display: block; padding: 10px; margin-left: auto; margin-right: auto;" ng-repeat="image in images" ng-src="{{ image }}" />
</section>